<h1>Datacamp - streamlined dataingestion with pandas</h1>
<h3>1 - Importing data from flat files</h3>

Datafames -> struttura specifica per dati bi-dimensionali.

Possiedono delle etichette di riga (row labels) detta indice (index) e delle etichette per le colonne (column labels)

Pandas supporta più tipi di dati per l'importazione, il più semplice è il flat file (.csv è un esempio di flat file).
La funzione pandas per leggere i flat file è la read_csv

In [1]:
# importare la libreiria pandas che contiene gli oggetti dataframe e i metodi associati
import numpy as np
import pandas as pd

# Definire in unav variabile stringa il path del flat file da importare
data_path = "Data/example.csv"

# La funzione di pandas "read_csv" permette fornito il path di importare il csv in un dataframe
#la funzione accetta alcuni parametri come "sep" che permette di impostare il separatore
example_data = pd.read_csv("Data/example.csv")

# I metodi "head" e "tail" permettono di vedere l'inizio e la fine dei dataframe
example_data.head(5)

           Name  Job Title          Address State     City
0      John Doe   Designer  325 Pine Street   NaN  Seattle
1           NaN        NaN              NaN   NaN      NaN
2  Edward Green  Developer  110 Pike Street    WA  Seattle

In [2]:
# Tramite i parametri è possibile importare file che utilizzano altri separatori

tsv_example = pd.read_csv("Data/study.tsv", sep="\t")

tsv_example.tail(5)

,type,submitter_id,projects.code,data_description,study_description,study_design,study_objective,study_setup,associated_study,project_id
0,study,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

<h6> 1a - Modifyng flat file imports </h6>

In [3]:
data_path = "Data/netflix_titles.csv"

df = pd.read_csv(data_path)

# la proprietà shape di un dataframe ci permette di espicitare la dimensione del dataframe in termini
# di righe e colonne

df.shape

(7787, 12)

In [4]:
# per ridurre il numero di dati che vengono caricati una possibilità è usare il parametro "usecols"
# il parametro accetta una lista di numeri di colonne o nomi oppure anche una fulzione che filtri le colonne

df_selected = pd.read_csv(data_path, usecols=(1,2))

print(df_selected.shape)

col_names = ['type','title']

df_selected = pd.read_csv(data_path, usecols=col_names)

print(df_selected.shape)

df_selected.tail()

(7787, 2)
(7787, 2)

         type                                    title
7782    Movie                                     Zozo
7783    Movie                                   Zubaan
7784    Movie                        Zulu Man in Japan
7785  TV Show                    Zumbo's Just Desserts
7786    Movie  ZZ TOP: THAT LITTLE OL' BAND FROM TEXAS

In [5]:
# E' possibile in alternativa o allo stesso tempo limitare il numero di righe che del file che vengono caricate
# tramite la keywork "nrows"

df_selected_rows = pd.read_csv(data_path, nrows=1000)

print(df_selected_rows.shape)

(1000, 12)

In [6]:
# il parametro "skiprows" accetta una lista di numeri di riga, un numero di righe o una funzione per filtrare
# le righe

df_selected_rows = pd.read_csv(data_path, skiprows=(lambda x:x%2==0))

# nel'esempio abbiamo utilizzato una funzione lambda per prendere solo le righe dispari
print(df_selected_rows.shape)

(3893, 12)

In [7]:
df_selected_rows.head()

# attenzione, se si skippa la riga contenente i nomi delle colonne è importante settare il parametro "header"
# = None per esplicitare il fatto che nel nostro file non sono presenti gli header

df_selected_rows = pd.read_csv(data_path, skiprows=(lambda x:x%2==0), header=None)
df_selected_rows.head()

,0,1,2,3,4,5,6,7,8,9,10,11
0,s1,TV Show,3%,NaN,"João Miguel, Bianca Comparato, Michel Gomes, R...",Brazil,"August 14, 2020",2020,TV-MA,4 Seasons,"International TV Shows, TV Dramas, TV Sci-Fi &...",In a future where the elite inhabit an island ...
1,s3,Movie,23:59,Gilbert Chan,"Tedd Chan, Stella Chung, Henley Hii, Lawrence ...",Singapore,"December 20, 2018",2011,R,78 min,"Horror Movies, International Movies","When an army recruit is found dead, his fellow..."
2,s5,Movie,21,Robert Luketic,"Jim Sturgess, Kevin Spacey, Kate Bosworth, Aar...",United States,"January 1, 2020",2008,PG-13,123 min,Dramas,A brilliant group of students become card-coun...
3,s7,Movie,122,Yasir Al Yasiri,"Amina Khalil, Ahmed Dawood, Tarek Lotfy, Ahmed...",Egypt,"June 1, 2020",2019,TV-MA,95 min,"Horror Movies, International Movies","After an awful accident, a couple admitted to ..."
4,s9,Movie,706,Shravan Kumar,"Divya Dutta, Atul Kulkarni, Mohan Agashe, Anup...",India,"April 1, 2019",2019,TV-14,118 min,"Horror Movies, International Movies","When a doctor goes missing, his psychiatrist w..."

In [8]:
# Quando non è presente l'header è possibile assegnare direttamente i nomi alle colonne tramete il parametro 
# "names", il parametro deve contenere i nomi di TUTTE le colonne presenti ai quali vogliamo assegnare

# estraimo dal df i nomi delle colonne inserendoli in una lista
col_names = pd.read_csv(data_path).columns

# specifichiamo nell'argomento dedicato la lista
df_selected_rows = pd.read_csv(data_path, skiprows=(lambda x:x%2==0), header=None, names=col_names)
df_selected_rows.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,TV Show,3%,NaN,"João Miguel, Bianca Comparato, Michel Gomes, R...",Brazil,"August 14, 2020",2020,TV-MA,4 Seasons,"International TV Shows, TV Dramas, TV Sci-Fi &...",In a future where the elite inhabit an island ...
1,s3,Movie,23:59,Gilbert Chan,"Tedd Chan, Stella Chung, Henley Hii, Lawrence ...",Singapore,"December 20, 2018",2011,R,78 min,"Horror Movies, International Movies","When an army recruit is found dead, his fellow..."
2,s5,Movie,21,Robert Luketic,"Jim Sturgess, Kevin Spacey, Kate Bosworth, Aar...",United States,"January 1, 2020",2008,PG-13,123 min,Dramas,A brilliant group of students become card-coun...
3,s7,Movie,122,Yasir Al Yasiri,"Amina Khalil, Ahmed Dawood, Tarek Lotfy, Ahmed...",Egypt,"June 1, 2020",2019,TV-MA,95 min,"Horror Movies, International Movies","After an awful accident, a couple admitted to ..."
4,s9,Movie,706,Shravan Kumar,"Divya Dutta, Atul Kulkarni, Mohan Agashe, Anup...",India,"April 1, 2019",2019,TV-14,118 min,"Horror Movies, International Movies","When a doctor goes missing, his psychiatrist w..."

<h6> 1b - Handling errors and missing data </h6>

Errori tipici presenti in un dataset:
* data type di colonne sbagliati
* Valori mancanti
* Record che non possono essere letti

In [9]:
# Pandas tipicamente quando si legge da un flat file se non specificato altrementi fa l'infer del tipo dato
# ovvero deduce quale tipo dato assegnare alla colonna

# utilizzando l'argomento "dtype" è possibile specificare i data type delle colonne, questo parametro riceve
# come argomento un dizionario dove ogni chiave è il nome di una colonna e ogni valore è il tipo dato


data_t = {"show_id":str,"type":str}#,"date_added":np.datetime64}

df = pd.read_csv(data_path,dtype=data_t)

print(df.dtypes)

show_id         object
type            object
title           object
director        object
cast            object
country         object
date_added      object
release_year     int64
rating          object
duration        object
listed_in       object
description     object
dtype: object

In [10]:
# pandas interpreta i valori nulli come Na, tuttavia è possibile specificare laddove troviamo dei dati non
# compatibili che pandas li interpreti come Na tramite il parametro "na_values", questi può ricevere un 
# singolo valore, una lista o un  dizionario di colonne e valori
data_path = "Data/missing_data.csv"

df_missing = pd.read_csv(data_path)

# il metodo isna può essere ultilzzato per individuare in tutti i record del dataframe dove sono presenti valori 
# na

df_missing.Fence.isna().head()

# es: filtrare la porzione del df che contiene valori na nella colonna Fence

df_filtered = df_missing[df_missing.Fence.isna()]

print(df_filtered.shape)
# il risultato ci mostra quante sono le righe che hanno

(1169, 81)

In [11]:
# gestire le line errate, ovvero quelle che hanno per esempio più record di tutte le altre
# il parametro error_bad_lines permette di settare come vengono gestiti record non elaborabili
# error_bad_lines=False indica a pandas di skippare i record corrotti
# warn_bad_lines=True farà si che venga lanciato un warning qual'ora vengano skippati dei record

try:
  # Set warn_bad_lines to issue warnings about bad records
  data = pd.read_csv("vt_tax_data_2016_corrupt.csv", 
                     error_bad_lines=False, 
                     warn_bad_lines=True)
  
  # View first 5 records
  print(data.head())
  
except pd.io.common.CParserError:
    print("Your data contained rows that could not be parsed.")

AttributeError: module 'pandas.io.common' has no attribute 'CParserError'

<h3> 2 - Importing data from excel files </h3>

In [12]:
# Il metodo pandas per importare file excel "read_excel"
import pandas as pd

data_path = "Data/excel_data.xlsx"

# allo stesso modo di read_csv il motodo possiede alcuni kwargs per aiutare nell'importazione dei fogli di
# calcolo: nrows (determina il numero di righe che vengono lette), skiprows (specfica le righe o il numero di
# righe da skippare), usecols (selezionare le colonne da importare)

# Create string of lettered columns to load
col_string ="A,C:D"
# per i file di tipo excel questo è il formato con il quale indicare quali colonne devono essere caricate
# tramite l'uso del parametro usecols

# Load data with skiprows and usecols set
survey_responses = pd.read_excel(data_path, 
                        #skiprows=2, 
                        usecols=col_string)

# View the names of the columns selected
print(survey_responses.columns)

Index(['first_name', 'company_name', 'address'], dtype='object')

In [13]:
# E' possibile leggere dei dati da spreadsheet multiplie da più fogli di uno stesso spreadsheet
# di default "read_excel" , questo è possibile tramite il parametro "sheet_name", questo accetta come
# argomento: il numero del foglio (position index), il titolo del foglio, una lista di numeri o di stringhe
# per ottenere tutti i fogli presenti in uno spreadsheet è possbile passare il valore None al parametro

all_sheets = pd.read_excel(data_path, sheet_name=None)

# Quando vengono importati più fogli non viene restituito un dataframe da un dizionario ordinato
# le chiavi di questo dizionario saranno i nomi dei fogli e i valori il dataframe invece

print(type(all_sheets))

for key, value in all_sheets.items():
    print(key,type(value), value.shape)

<class 'dict'>
uk-500 <class 'pandas.core.frame.DataFrame'> (2000, 10)
Foglio2 <class 'pandas.core.frame.DataFrame'> (2000, 10)

Unire tutti i fogli di un file excel in un solo dataframe (presupponendo che abbiano le stesse colonne)

In [14]:
# Creare un df vuoto
merge_sheets = pd.DataFrame()

for sheet, frame in all_sheets.items():
    # possiamo aggiungere una colonna al df per tenere traccia della provenienza del dato
    frame["sheet_name"] = sheet
    # tramite il metodo append possiamo aggiungere il dataframe del dizionario ad un df vuoto
    merge_sheets = merge_sheets.append(frame)
    
print(merge_sheets.shape)

# controllare che siano presenti tutti i fogli con il metodo "unique" (select distinct) sulla colonna dei nomi
print(merge_sheets["sheet_name"].unique())

(4000, 11)
['uk-500' 'Foglio2']

<h6> Modifying imports: true/false data </h6>

In [15]:
data_path = "Data/fcc-new-coder-survey.xlsx"
columns = ["ID.x","BootcampLoanYesNo","AttendedBootcamp","BootcampFinish"]
boolean_df = pd.read_excel(data_path,usecols=columns, skiprows=2)

boolean_df.head()
# Le colonne non vengono interpretate come booleane
print(boolean_df.dtypes)

AttendedBootcamp     float64
BootcampFinish       float64
BootcampLoanYesNo    float64
ID.x                  object
dtype: object

In [16]:
# esplorazione
# conta delle colonne che hanno come valore vero (1)
print(boolean_df.sum())
# conta degli elementi nulli nelle colonne
print(boolean_df.isna().sum())

AttendedBootcamp                                                  37.0
BootcampFinish                                                    21.0
BootcampLoanYesNo                                                 14.0
ID.x                 cef35615d61b202f1dc794ef2746df14323e5a113644d1...
dtype: object
AttendedBootcamp       6
BootcampFinish       965
BootcampLoanYesNo    964
ID.x                   0
dtype: int64

In [17]:
# rilettura del df specificando il tipo delle colonne
#dct_type = {"AttendedBootcamp":bool,"BootcampFinish":bool,"BootcampLoanYesNo":bool,"ID.x":str}
#boolean_df = pd.read_excel(data_path, usecols=columns, skiprows=2,dtype=dct_type)

# Attenzione ai valori NA!

# Per le colonne "custom" (per esempio dove sono presenti dei valori Sì/No) è possibile specificare cosa
# viene considerato False utilizzando il parametro "false_values" per settare i valori false custom, 
# analogamente è possibile utilizzare true_values

 #survey_subset = pd.read_excel("fcc_survey_yn_data.xlsx",
  #                            dtype={"HasDebt": bool,
   #                           "AttendedBootCampYesNo": bool},
    #                          false_values=["No"],
     #                         true_values=["Yes"])

# cosa fare per quanto riguarda gli na dipende dal tipo dei dati

<h6>Modifying imports: parsing dates</h6>

In [18]:
# pandas archivia di default le date come oggetti, per salvare come date i valori presenti in una colonna
# si utilizza il parametro "parse_dates", questo accetta: una lista di colonne, una lista di liste che devono
# essere combinate assieme, oppure un dizionatio

date_cols = ["Part1EndTime","Part1StartTime","Part2EndTime","Part2StartTime"]

#esempio in caso di colonne da unire, le colonne nella sottolista verranno unite in un unico datetime
#date_cols = ["Part1EndTime","Part1StartTime",["Part2EndDate","Part2EndTime"]]

# parse_dates funziona soltante se le date sono in formato standard
data_path = "Data/fcc-new-coder-survey.xlsx"
columns = ["ID.x","Part1EndTime","Part1StartTime","Part2EndTime","Part2StartTime"]
boolean_df = pd.read_excel(data_path,usecols=columns, skiprows=2, parse_dates=date_cols)

boolean_df.head()
# Le colonne non vengono interpretate come booleane
print(boolean_df.dtypes)

ID.x                      object
Part1EndTime      datetime64[ns]
Part1StartTime    datetime64[ns]
Part2EndTime      datetime64[ns]
Part2StartTime    datetime64[ns]
dtype: object

colonne con date non standard non funzionano con parse_dates
possono essere convertite utilizzando il metodo pandas "to_datetime", argomenti:
* df e colonna da convertire
* porametro "format" che descriva il formato della data da convertire

In [19]:
# es. di formato

format_string = "%m%d%Y %H:%M:%S"

#example_df["datetime_column"] = pd.to_datetime(survey_df["datetime_column"], format=format_string)

<h3> 3 - Importing Data from Databases </h3>

<h6> Introduction to databases </h6>

In [20]:
# SQLLite db sono archiviati come file
# la libreria per utilizzare i db è sqlalchemy
!pip3 install sqlalchemy

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: sqlalchemy in /home/marasga/.local/lib/python3.9/site-packages (1.3.23)

In [21]:
import sqlalchemy as sql
# FROM SQLALCHEMY import create_engine

Per connettersi ad un db bisogna effettuare le operazioni:
* creare un'istanza db engine attraverso il metodo "create_engine()" di sqlalchemy
* questo metodo richiede la stringa di connessione e il tipo di engine e.g. sqlite:///filename.db

Una volta connessi al db è possibile utilizzare la funzione "read_sql" di pandas per effetture delle query sul db, la funzione riceve principalmente due argomenti <b>pd.read_sql(query,engine)</b>:
* query: la stringa chge contiene la query sql da eseguire
* engine: connesione/oggetto db engine

In [22]:
data_path = "Data/data.db"

engine = sql.create_engine("sqlite:///" + data_path)

In [23]:
test = pd.read_sql("SELECT * FROM weather;",engine)
#in alternativa per selezionare tutti i dati della tabella basta specificarne il nome nella stringa
test.head(5)
print(test.dtypes)

station       object
name          object
latitude     float64
longitude    float64
elevation    float64
date          object
month         object
awnd         float64
prcp         float64
snow         float64
tavg          object
tmax           int64
tmin           int64
dtype: object

<h3> 3 - Importing JSON Data and Working with APIs </h3>

Per leggere dati json utilizzare la funzione <b>read_json()</b>, gli argomenti che accetta sono:
* una stringa come path ad un json o un json in formato stringa
* <b>dtype</b> per specificare il tipo dei dati
* <b>orient</b> per flaggare data layout di json non comuni

I dati json <b>non sono</b> tabulari, pandas cerca di inserirli in forma tabellare
Nei json l'orientazione in colonna è generalmente più efficente in termini di spazio.
Sono possibili altri tipi di orientazione come la split-orientation per la quale colonne, indici e dati sono inseriti in array separati all'interno di un json

In [24]:
try:
    # Load the JSON with orient specified
    df = pd.read_json("dhs_report_reformatted.json",
                      orient="split")
    
    # Plot total population in shelters over time
    df["date_of_census"] = pd.to_datetime(df["date_of_census"])
    df.plot(x="date_of_census", 
            y="total_individuals_in_shelter")
    plt.show()
    
except ValueError:
    print("pandas could not parse the JSON.")

pandas could not parse the JSON.

<h6> Introduction to APIs</h6>

Una libreria che può essere utilizzata per effettuare richieste http è requests

In [26]:
!pip3 install requests

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: requests in /usr/lib/python3.9/site-packages (2.24.0)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/lib/python3.9/site-packages (from requests) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /usr/lib/python3.9/site-packages (from requests) (2.10)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/lib/python3.9/site-packages (from requests) (1.25.8)

In [27]:
# La funzione predefinita per l'interrogazione di un API è get(), prendere come argomento l'url
# il secondo argomento è params, un dizionario dei parametri da passare per la richiesta
# il terzo è heades, un dizionario che viene utilizzato per l'autenticazione

import requests

url_string="https://jsonplaceholder.typicode.com/todos/1"

# il risultato della richiesta è un oggetto response

response = requests.get(url_string)

In [29]:
# l'oggetto response contiene dati e metadati, il metodo "json()" permette di ottenere solamente i dati
print(response.json())

{'userId': 1, 'id': 1, 'title': 'delectus aut autem', 'completed': False}


Per caricare i dati ottenuti da una richiesta ad un api non è possibile utilizzare il metodo pandas <b>read_json</b> infatti questo si aspetta una stringa e non un dizionario, dobbiamo utilizzare il costruttore <b>DataFrame</b>

In [34]:
api_url = "https://api.yelp.com/v3/businesses/search"
headers = {'Authorization': 'Bearer mhmt6jn3SFPVC1u6pfwgHWQvsa1wmWvCpKRtFGRYlo4mzA14SisQiDjyygsGMV2Dm7tEsuwdC4TYSA0Ai_GQTjKf9d5s5XLSNfQqdg1oy7jcBBh1i7iQUZBujdA_XHYx'}
params = {'term': 'cafe', 'location': 'NYC'}
# Get data about NYC cafes from the Yelp API
response = requests.get(api_url, 
                headers=headers, 
                params=params)

# Extract JSON data from the response
data = response.json()
print(data)

# Load data to a data frame
#cafes = pd.DataFrame(data["businesses"])

# View the data's dtypes
#print(cafes.dtypes)

{'error': {'code': 'UNAUTHORIZED_ACCESS_TOKEN', 'description': 'The access token provided is not currently able to query this endpoint.'}}

<h6>Working with nested JSONs</h6>

Pandas contiene delle funzioni per appiattire i json annidati. C'è un submodulo specifico <b> pandas.io.json </b> questo deve essere importato in maniera esplicita,
il metodo <b>json_normalize</b>:
* riceve come argomenti un dizionario o una lista di dizionari
* returna un df dei dati tabulare
* il name pattern è del tipo attribute.nestedone
* riceve un argomento <b>sep</b> per definire il separatore

In [35]:
# Load json_normalize()
from pandas.io.json import json_normalize

# Isolate the JSON data from the API response
data = response.json()

# Flatten business data into a data frame, replace separator
cafes = json_normalize(data["businesses"],
             sep="_")

# View data
print(cafes.head())

# Load other business attributes and set meta prefix
flat_cafes = json_normalize(data["businesses"],
                            sep="_",
                    		record_path="categories",
                    		meta=["name", 
                                  "alias",  
                                  "rating",
                          		  ["coordinates", "latitude"], 
                          		  ["coordinates", "longitude"]],
                    		meta_prefix="biz_")





# View the data
print(flat_cafes.head())

<h6>Combining multiple datasets</h6>

1. Append:
Il metodo <b>append</b> permette di aggiungere le righe di un df in un altro, per rinumerare le righe utilizzando l'index del df di destinazione è necessario settare <b>ignore_index</b> = True
2. Merge:
Il metodo <b>merge</b> svolge lo stesso compito di SQL JOIN combinando i dataset per aggiungere colonner legate da una relazione. E' sia una funzione di pandas che un metodo df.
df.merge riceve come argomenti:
    * Il secondo df
    * <b>on</b> se i nomi delle colonne sono gli stessi in entrambi i df
    * <b>left_on</b> e <b>right_on</b> se i nomi sono differenti
    * NB: Le colonne devono essere dello stesso datatype

In [36]:
# Add an offset parameter to get cafes 51-100
params = {"term": "cafe", 
          "location": "NYC",
          "sort_by": "rating", 
          "limit": 50,
          "offset":50}

result = requests.get(api_url, headers=headers, params=params)
next_50_cafes = json_normalize(result.json()["businesses"])

# Append the results, setting ignore_index to renumber rows
cafes = top_50_cafes.append(next_50_cafes,ignore_index=True)

# Print shape of cafes
print(cafes.shape)

NameError: name 'json_normalize' is not defined

In [ ]:
# Merge crosswalk into cafes on their zip code fields
cafes_with_pumas = cafes.merge(crosswalk, left_on="location_zip_code",right_on="zipcode")



# Merge pop_data into cafes_with_pumas on puma field
cafes_with_pop = cafes_with_pumas.merge(pop_data, on="puma")

# View the data
print(cafes_with_pop.head())