<h1>Datacamp - streamlined dataingestion with pandas</h1>
<h3>1 - Importing data from flat files</h3>

Datafames -> struttura specifica per dati bi-dimensionali.

Possiedono delle etichette di riga (row labels) detta indice (index) e delle etichette per le colonne (column labels)

Pandas supporta più tipi di dati per l'importazione, il più semplice è il flat file (.csv è un esempio di flat file).
La funzione pandas per leggere i flat file è la read_csv

In [6]:
# importare la libreiria pandas che contiene gli oggetti dataframe e i metodi associati
import pandas as pd

# Definire in unav variabile stringa il path del flat file da importare
data_path = "Data/example.csv"

# La funzione di pandas "read_csv" permette fornito il path di importare il csv in un dataframe
#la funzione accetta alcuni parametri come "sep" che permette di impostare il separatore
example_data = pd.read_csv("Data/example.csv")

# I metodi "head" e "tail" permettono di vedere l'inizio e la fine dei dataframe
example_data.head(5)

           Name  Job Title          Address State     City
0      John Doe   Designer  325 Pine Street   NaN  Seattle
1           NaN        NaN              NaN   NaN      NaN
2  Edward Green  Developer  110 Pike Street    WA  Seattle

In [7]:
# Tramite i parametri è possibile importare file che utilizzano altri separatori

tsv_example = pd.read_csv("Data/study.tsv", sep="\t")

tsv_example.tail(5)

,type,submitter_id,projects.code,data_description,study_description,study_design,study_objective,study_setup,associated_study,project_id
0,study,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

<h6> 1a - Modifyng flat file imports </h6>

In [12]:
data_path = "Data/netflix_titles.csv"

df = pd.read_csv(data_path)

# la proprietà shape di un dataframe ci permette di espicitare la dimensione del dataframe in termini
# di righe e colonne

df.shape

(7787, 12)

In [17]:
# per ridurre il numero di dati che vengono caricati una possibilità è usare il parametro "usecols"
# il parametro accetta una lista di numeri di colonne o nomi oppure anche una fulzione che filtri le colonne

df_selected = pd.read_csv(data_path, usecols=(1,2))

print(df_selected.shape)

col_names = ['type','title']

df_selected = pd.read_csv(data_path, usecols=col_names)

print(df_selected.shape)

df_selected.tail()

(7787, 2)
(7787, 2)

         type                                    title
7782    Movie                                     Zozo
7783    Movie                                   Zubaan
7784    Movie                        Zulu Man in Japan
7785  TV Show                    Zumbo's Just Desserts
7786    Movie  ZZ TOP: THAT LITTLE OL' BAND FROM TEXAS

In [19]:
# E' possibile in alternativa o allo stesso tempo limitare il numero di righe che del file che vengono caricate
# tramite la keywork "nrows"

df_selected_rows = pd.read_csv(data_path, nrows=1000)

print(df_selected_rows.shape)

(1000, 12)

In [22]:
# il parametro "skiprows" accetta una lista di numeri di riga, un numero di righe o una funzione per filtrare
# le righe

df_selected_rows = pd.read_csv(data_path, skiprows=(lambda x:x%2==0))

# nel'esempio abbiamo utilizzato una funzione lambda per prendere solo le righe dispari
print(df_selected_rows.shape)

(3893, 12)

In [25]:
df_selected_rows.head()

# attenzione, se si skippa la riga contenente i nomi delle colonne è importante settare il parametro "header"
# = None per esplicitare il fatto che nel nostro file non sono presenti gli header

df_selected_rows = pd.read_csv(data_path, skiprows=(lambda x:x%2==0), header=None)
df_selected_rows.head()

,0,1,2,3,4,5,6,7,8,9,10,11
0,s1,TV Show,3%,NaN,"João Miguel, Bianca Comparato, Michel Gomes, R...",Brazil,"August 14, 2020",2020,TV-MA,4 Seasons,"International TV Shows, TV Dramas, TV Sci-Fi &...",In a future where the elite inhabit an island ...
1,s3,Movie,23:59,Gilbert Chan,"Tedd Chan, Stella Chung, Henley Hii, Lawrence ...",Singapore,"December 20, 2018",2011,R,78 min,"Horror Movies, International Movies","When an army recruit is found dead, his fellow..."
2,s5,Movie,21,Robert Luketic,"Jim Sturgess, Kevin Spacey, Kate Bosworth, Aar...",United States,"January 1, 2020",2008,PG-13,123 min,Dramas,A brilliant group of students become card-coun...
3,s7,Movie,122,Yasir Al Yasiri,"Amina Khalil, Ahmed Dawood, Tarek Lotfy, Ahmed...",Egypt,"June 1, 2020",2019,TV-MA,95 min,"Horror Movies, International Movies","After an awful accident, a couple admitted to ..."
4,s9,Movie,706,Shravan Kumar,"Divya Dutta, Atul Kulkarni, Mohan Agashe, Anup...",India,"April 1, 2019",2019,TV-14,118 min,"Horror Movies, International Movies","When a doctor goes missing, his psychiatrist w..."

In [28]:
# Quando non è presente l'header è possibile assegnare direttamente i nomi alle colonne tramete il parametro 
# "names", il parametro deve contenere i nomi di TUTTE le colonne presenti ai quali vogliamo assegnare

# estraimo dal df i nomi delle colonne inserendoli in una lista
col_names = pd.read_csv(data_path).columns

# specifichiamo nell'argomento dedicato la lista
df_selected_rows = pd.read_csv(data_path, skiprows=(lambda x:x%2==0), header=None, names=col_names)
df_selected_rows.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,TV Show,3%,NaN,"João Miguel, Bianca Comparato, Michel Gomes, R...",Brazil,"August 14, 2020",2020,TV-MA,4 Seasons,"International TV Shows, TV Dramas, TV Sci-Fi &...",In a future where the elite inhabit an island ...
1,s3,Movie,23:59,Gilbert Chan,"Tedd Chan, Stella Chung, Henley Hii, Lawrence ...",Singapore,"December 20, 2018",2011,R,78 min,"Horror Movies, International Movies","When an army recruit is found dead, his fellow..."
2,s5,Movie,21,Robert Luketic,"Jim Sturgess, Kevin Spacey, Kate Bosworth, Aar...",United States,"January 1, 2020",2008,PG-13,123 min,Dramas,A brilliant group of students become card-coun...
3,s7,Movie,122,Yasir Al Yasiri,"Amina Khalil, Ahmed Dawood, Tarek Lotfy, Ahmed...",Egypt,"June 1, 2020",2019,TV-MA,95 min,"Horror Movies, International Movies","After an awful accident, a couple admitted to ..."
4,s9,Movie,706,Shravan Kumar,"Divya Dutta, Atul Kulkarni, Mohan Agashe, Anup...",India,"April 1, 2019",2019,TV-14,118 min,"Horror Movies, International Movies","When a doctor goes missing, his psychiatrist w..."